* {
  width: 100vw;
  padding: 0;
  margin: 0;
}
body {
  background-image: url("fondo1.png"),
    /* Ruta a la imagen de fondo */
      linear-gradient(to bottom, pink 60%, white 60%);
  background-size:  ; /* Hace que la imagen cubra todo el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Fija la imagen en su posición mientras se desplaza el contenido */
  background-position: center center; /* Centra la imagen en el contenedor */
}

.logo {
  width: 10%;
  padding: 10px;
}
.header {
  padding-left: 10px;
  padding-top: 5px;
}
.menu {
  width: 40px;
  height: 40px;
  padding-top: -20px;
  padding-left: 1120px;
  padding-bottom: 10;
}
menu1 {
  padding-top: -5px;
  padding-right: -100px;
}
